@media(max-width: 1000px){
    .allbtn{
        width: 50%;
        height: 60px;
        font-size: 50px;
    }
    .optionspage{
        position: fixed;
        width: 70%;
        height: 40%;
        margin-left: 15%;
        margin-top: 11%;
        opacity: 0;
        z-index: -1;
        background-color: yellowgreen;
    }
    body{
        background-position-y: top;
    }
}