<html>
    <head>
        <title>Tic Tac Toe</title>
        <script type="text/javascript" src="/script/startscript.js"></script>
        <link rel="stylesheet" type="text/css" href="/styles/startstyle/startstyle.css">
        <link rel="stylesheet" type="text/css" href="/styles/startstyle/startstyleMedia.css">
    </head>
    <body>
        <div class="optionspage" id="optionspage">
            <a onclick="optionsPageOff();">
                <svg id="arrowback" width="1em" height="1em" viewBox="0 0 16 16" class="back" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.5 8.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
                </svg>
            </a>
            <div class="content">
                <h1>More</h1>
                <br><br>
                <h2>developed by José Lucas</h2>
                <br><br>
                <h2>About Me</h2>
                <br>
                <p>Hello, I'am Lucas a javascript developer from Brazil <br>
                for more informations about me, follow me on <a href="https://github.com/JoseLucasapp"><u>GITHUB</u></a></p>
                <br>
                <br>
                <p>Version 1.5.0</p>
            </div>
        </div>
        <div class="main">
            <h1>Tic Tac Toe</h1>
            <div class="initial">
                <h1><span style="color: red;">X</span><a> vs</a><span style="color: blue;">O</span></h1>
            </div>
            <div class="buttons">
                <div>
                    <form action="/game" method="post">
                        <input name="backgroundname" type="hidden" readonly id="backgroundname" />
                        <button class="allbtn">Start</button>
                    </form>
                </div>
                <div>
                    <a>
                        <button class="allbtn" onclick="optionsPageOn();">More</button>
                    </a>
                </div>
                <div class="changebg">
                    <button class="allbtn" onclick="changeBg();">Change bg color</button>
                </div>
            </div>
        </div>
    </body>
</html>