*{margin: 0; padding: 0;}
body{
    background: url('../img/space.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.startbutton{
    width: 10%;
    height: 50px;
    background: linear-gradient(to right, red, blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.startbutton:hover {
    background: linear-gradient(to right, blue, red);
    width: 40%;
    transition: width 0.5s linear 0.2s;
}
.options{
    width: 10%;
    height: 50px;
    background: linear-gradient(to right, red, blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.options:hover {
    background: linear-gradient(to right, blue, red);
    width: 40%;
    transition: width 0.5s linear 0.2s;
}
.toppage{
    top: 0;
    text-align: center;
    width: 100%;
    height: 50%;
    color: white;
}
.downpage{
    width: 100%;
    height: 50%;
    text-align: center;
}
.main{
    width: 70%;
    height: 70%;
    margin-top: 6.5%;
    margin-left: 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imgs{
    width: 25%;
    height: 100px;
    margin-left: 37.5%;
    margin-top: 5%;
}
.quadro{
	width: 100px;
    height: 100px;
}
.quadroImg{
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
    border-width: 0px;
    background-color: transparent;
    margin-left: 25%;
}
#img1{
    background-image: url('../img/x.png');
}
#img2{
    background-image: url('../img/o.png');
}
.optionspage{
    position: fixed;
    width: 50%;
    height: 60%;
    margin-left: 25%;
    margin-top: 5%;
    opacity: 0;
    z-index: -1;
    background-color: yellowgreen;
}
.back{
	position: absolute;
	width: 50px;
	height: 50px;
    margin-left: 2%;
    fill: purple;
    margin-top: 5px;
}
.content{
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-top: 9%;
    text-align: center;
}
.optButtons{
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-top: 10%;
}
.changeBack1{
	width: 50px;
	height: 50px;
    float: left;
    margin-left: 2%;
    margin-top: 3.5%;
}
.changeBack2{
	width: 50px;
	height: 50px;
    float: right;
    margin-right: 2%;
    margin-top: 3.5%;
}
@media(max-width: 1000px){
    .toppage{
        font-size: 50px;
    }
    .imgs{
        width: 50%;
        margin-left: 25%;
        height: 200px;
        margin-top: 100px;
    }
    .quadro{
        width: 200px;
        height: 200px;
    }
    .quadroImg{
        margin-left: 8%;
    }
    .startbutton{
        width: 50%;
        height: 60px;
        font-size: 50px;
    }
    .optionspage{
        position: fixed;
        width: 70%;
        height: 40%;
        margin-left: 15%;
        margin-top: 11%;
        opacity: 0;
        z-index: -1;
        background-color: yellowgreen;
    }
    body{
        background-position-y: top;
    }
}