*{margin: 0; padding: 0;}
.startbutton{
    width: 10%;
    height: 50px;
    background: linear-gradient(to right, red, blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.startbutton:hover {
    background: linear-gradient(to right, blue, red);
}
.toppage{
    top: 0;
}
.downpage{
    bottom: 0;
}
.main{
    width: 70%;
    height: 70%;
    margin-top: 6.5%;
    margin-left: 15%;
    background-color: violet;
}